@import "./aside";
@import "./home";
@import "./editor";



body {
  font-family: sans-serif;
  background: var(--bg);
  color: var(--fg);
  transition: background 0.3s, color 0.3s;
}


a{
  color: var(--fg);
}
.modal__content{
  background: var(--bg);
}
button {
  background: var(--accent);
  color: var(--fg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
  filter: brightness(1.1);  
}



}
